apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-ms-auth
  namespace: dev
spec:
  replicas: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: backend-ms-auth
  template:
    metadata:
      labels:
        app: backend-ms-auth
        version: "1.03.1"
    spec:
      containers:
        - name: backend-ms-auth
          image: registry.dev-cinescope.store/qa-backend-ms-auth:latest
          resources:
            limits:
              memory: "220Mi"
              cpu: "300m"
            requests:
              memory: "140Mi"
              cpu: "100m"
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: qa-config
            - secretRef:
                name: qa-secret
          ports:
            - containerPort: 5500
      imagePullSecrets:
        - name: regcred

---
apiVersion: v1
kind: Service
metadata:
  name: backend-ms-auth
  namespace: dev
spec:
  selector:
    app: backend-ms-auth
  ports:
    - protocol: TCP
      port: 5500
      targetPort: 5500
      nodePort: 31600
  type: NodePort
